<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <template v-if="flag">

            <h2 v-text="name" v-bind:title="name"  @copy="alerta"></h2>

        </template>

        <template v-else>

            <h2 >Hola mundo else</h2>
            <input type="text" v-model="name">
            <p v-for="(value,name,index) in numbers" v-text="value.total"></p>

        </template>

        <button @click.once="changeFlag">Change</button>

    </div>

    <div id="form">
        <p v-if="errors.length">
            <template v-for="error in errors">
                {{ error }}
            </template>
        </p>
        <form @submit.prevent="submit">
            <input type="text" v-model="form.name">
            <textarea name="" id="" cols="30" rows="10" v-model="form.text"></textarea>
            <button type="submit">enviar</button>
        </form>
    </div>


    <script src="https://unpkg.com/vue@next"></script>

    <script>

        const Hola = {
            data(){
                return {
                    name : "Hola mundo",
                    flag : false,
                    numbers : [
                        { total : 30 },
                        { total : 50 }

                    ]
                }
            },
            beforeUpdate(){
                console.log('before');
            },
            created(){
                console.log('created');
            },
            methods : {
                changeFlag(){
                    this.flag = !this.flag
                },
                alerta(){
                    alert('copiado')
                }
            }
        }
        const Form = {
            data(){
                return {
                    form : {
                        name:'',
                        text:''
                    },
                    errors : [

                    ]
                }
            },
            methods: {
                submit(){
                    this.errors = [];
                    if(this.form.name == "")
                        this.errors.push("El campo name no puede estar vacio")
                    console.log(this.ßform)
                }
            }
        }

        Vue.createApp(Hola).mount("#app")
        Vue.createApp(Form).mount("#form")
    </script>




</body>
</html>